In [1]:
from customer_segmentation import segmentation

In [2]:
segmentation.get_supported_models?

Signature: segmentation.get_supported_models()
Docstring: Returns the list of supported clustering algorithms
File:      c:\playground\test\customer_segmentation\customer_segmentation\segmentation.py
Type:      function

In [3]:
segmentation.fetch_customer_segments?

Signature: segmentation.fetch_customer_segments(algorithm, df, Id, **kwargs)
Docstring:
Gets algorithm, input data and id columns and returns customers along with their clusters

Parameters
----------
algorithm : str
        The name of the clustering algorithm to use: it is either kmeans or rfm as of now
df : DataFrame
        The dataframe containg the processed input the data
Id : str
        The name of the column that is used to identify customer ID
**kwargs : dict
        dictionary containing positional arguments to pass to func

Returns
----------
df : DataFrame
        The dataframe containg the customer ID and its corresponding cluster number

File:      c:\playground\test\customer_segmentation\customer_segmentation\segmentation.py
Type:      function

In [5]:
segmentation.get_supported_models()

dict_keys(['kmeans', 'rfm'])

In [4]:
import pandas as pd
#algorithm = "kmeans"
algorithm = "rfm"
#from sklearn.preprocessing import MinMaxScaler
#data = pd.read_csv("C:/Users/DayanandChalla/Downloads/Wholesale customers data.csv")
#categorical_features = ['Channel', 'Region']
#continuous_features = ['Fresh', 'Milk', 'Grocery', 'Frozen', 'Detergents_Paper', 'Delicassen']
#for col in categorical_features:
#    dummies = pd.get_dummies(data[col], prefix=col)
#data = pd.concat([data, dummies], axis=1)
#data.drop(col, axis=1, inplace=True)
#mms = MinMaxScaler()
#mms.fit(data)
#data_transformed = mms.transform(data)
#data_transformed = pd.read_csv("C:/Users/DayanandChalla/Downloads/Mall_Customers.csv")
#print(data_transformed.head())
#data_transformed.drop(["Gender"], axis = 1, inplace=True)
#config = {'K': 11}
config = {'recency':'property_createdate','frequency':'contract_id2num','monetory':'total_net_rev'}
data_transformed = pd.read_csv("C:/Users/DayanandChalla/Downloads/Customer Segmentation - RFM/Customer Segmentation - RFM/df_clean.csv")
print(data_transformed.head())
df = segmentation.fetch_customer_segments(algorithm,data_transformed,"company_id",**config)
print(df)

   contract_id2num  company_id               property_createdate  \
0       5320228427  5993145946  2021-05-21 21:27:44.976000+00:00
1       3433226697  4845582758  2020-11-17 22:33:24.088000+00:00
2       5395146038  6184842373  2021-06-03 16:55:12.657000+00:00
3       6017915503  5876719900  2021-08-24 02:47:40.056000+00:00
4       3551986631  2857602450  2020-12-01 20:42:27.590000+00:00

   total_net_rev                        CreateDate  CreateMonth  CreateYear  \
0    1656.000000  2021-05-21 21:27:44.976000+00:00            5        2021
1   10517.023920  2020-11-17 22:33:24.088000+00:00           11        2020
2    4337.855000  2021-06-03 16:55:12.657000+00:00            6        2021
3    5358.000000  2021-08-24 02:47:40.056000+00:00            8        2021
4    4453.608247  2020-12-01 20:42:27.590000+00:00           12        2020

   CreateMonth2  Deal_Created_MY
0             5           202105
1            11           202011
2             6           202106
3             8           202108
4            12           202012
Predicting with RFM
Total unique value in company_id is 2413
Total unique value in contract_id2num is 3323
Total unique value in property_createdate is 3320
            Recency  Frequency      Monetary  R  M  F RFMSegment  RFMScore  \
company_id
863056949       700          1    310.567010  1  1  1        111         3
863057005       513          2  34122.252494  1  4  2        124         7
965195424       508          1   8254.912371  1  3  1        113         5
1083082187      411          1  17202.000000  2  4  1        214         7
1083301574      139          1   1477.400000  4  2  1        412         7
...             ...        ...           ... .. .. ..        ...       ...
7937459242      125          1   1010.550000  4  1  1        411         6
7937488938      125          1    318.560000  4  1  1        411         6
7946428842      125          1    958.760000  4  1  1        411         6
7960709526      120          1    344.050000  4  1  1        411         6
7962110382      123          1    395.880000  4  1  1        411         6

              tier  Cluster
company_id
863056949   Bronze        3
863057005   Silver        2
965195424   Bronze        3
1083082187  Silver        2
1083301574  Silver        2
...            ...      ...
7937459242  Silver        2
7937488938  Silver        2
7946428842  Silver        2
7960709526  Silver        2
7962110382  Silver        2

[2413 rows x 10 columns]

In [5]:
df.reset_index()

,company_id,Recency,Frequency,Monetary,R,M,F,RFMSegment,RFMScore,tier,Cluster
0,863056949,700,1,310.567010,1,1,1,111,3,Bronze,3
1,863057005,513,2,34122.252494,1,4,2,124,7,Silver,2
2,965195424,508,1,8254.912371,1,3,1,113,5,Bronze,3
3,1083082187,411,1,17202.000000,2,4,1,214,7,Silver,2
4,1083301574,139,1,1477.400000,4,2,1,412,7,Silver,2
...,...,...,...,...,...,...,...,...,...,...,...
2408,7937459242,125,1,1010.550000,4,1,1,411,6,Silver,2
2409,7937488938,125,1,318.560000,4,1,1,411,6,Silver,2
2410,7946428842,125,1,958.760000,4,1,1,411,6,Silver,2
2411,7960709526,120,1,344.050000,4,1,1,411,6,Silver,2
2412,7962110382,123,1,395.880000,4,1,1,411,6,Silver,2

In [24]:
prod_df = pd.read_csv("C:/Users/DayanandChalla/Downloads/prod_data.csv")

In [25]:
prod_df.head()

   source  target  product
0       1       2        1
1       1       3        2
2       1       4        3
3       1       5        1
4       1       6        4

In [26]:
prod_df1 = prod_df.groupby(['source','product'])['target'].count().reset_index()

In [27]:
prod_df1

    source  product  target
0        1        1       3
1        1        2       1
2        1        3       1
3        1        4       1
4        1        5       1
5        2        2       2
6        2        3       2
7        2        4       1
8        2        5       1
9        2        6       1
10       3        3       1
11       3        4       2
12       3        5       2
13       3        6       2

In [28]:
prod_df1['target_percent'] = prod_df1['target'] / prod_df1.groupby('source')['target'].transform('sum')

In [29]:
prod_df1

    source  product  target  target_percent
0        1        1       3        0.428571
1        1        2       1        0.142857
2        1        3       1        0.142857
3        1        4       1        0.142857
4        1        5       1        0.142857
5        2        2       2        0.285714
6        2        3       2        0.285714
7        2        4       1        0.142857
8        2        5       1        0.142857
9        2        6       1        0.142857
10       3        3       1        0.142857
11       3        4       2        0.285714
12       3        5       2        0.285714
13       3        6       2        0.285714

In [32]:
g = prod_df.groupby(['source', 'product'])['target'].transform('sum')
prod_df['Perc'] = prod_df.groupby(['source','product'])['target'].count() / g * 100
prod_df

ValueError: cannot join with no overlapping index names